@import url('https://fonts.googleapis.com/css?family=Lato:900&display=swap');

* { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; }
body { margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif; line-height: 1; background-color: #333; color: white; }
p { line-height: 1.5; margin-bottom: 12px; }
a { text-decoration: none; outline: none; color: white; -webkit-tap-highlight-color: transparent; cursor: pointer; }
h1 { font-size: 22px; margin: 20px 0 30px; color: #DDD; }

#header { font-size: 28px; font-family: 'Lato', sans-serif; line-height: 1.6; margin-top: 32px; text-align: center; }
#header img { height: 42px; margin: 0 8px -13px; }

.textbox { margin: 32px 64px; text-align: center; }

/* menu */
#search { margin: 0 auto 40px; text-align: center; }
#search input { width: 240px; height: 26px; padding: 5px; font-size: 16px; background-color: #333; color: white; border: 1px solid white; border-radius: 18px; text-align: center; }
#search input::placeholder { color: #AAA; }
#citylist { margin: 0 32px 64px; text-align: center; }
.citybox { display: inline-block; width: 256px; height: 16px; margin: 4px 6px; padding: 14px; text-align: left; border: 1px solid #777; border-radius: 5px; }
.citybox .fi { float: left; width: 20px; height: 16px; margin-right: 12px; }
.citybox .name { float: left; font-size: 18px; }
.citybox .pop { float: right; color: #AAA; font-size: 16px; font-weight: lighter; }

/* city */
#cityname { font-family: 'Lato', sans-serif; color: #BBB; font-size: 24px; margin: 8px 0 48px; text-align: center; }
#map { margin: 20px 0px; height: 500px; border: 1px solid #777; }

@media (min-width: 900px) {
  #citylist { margin: 0 128px 64px; }
  #map { height: 640px; }
}